@page
@{
    ViewData["Title"] = "Links";
}

<h1>Links</h1>

<div  >
<h3>Graphic Design and Reponsive Layout</h3>

<div>
    <a asp-page="/BootStrapPages/GraphicDesignandResponsiveLayout/BackGroundColor">Background colours</a>
</div>

<div>
    <a asp-page="/BootStrapPages/GraphicDesignandResponsiveLayout/ContainersAndRows">Containers and Rows</a>
</div>

<div>
    <a asp-page="/BootStrapPages/GraphicDesignandResponsiveLayout/MediaBreakPoints">Media Breakpoints</a>
</div>

<div>
    <a asp-page="/BootStrapPages/GraphicDesignandResponsiveLayout/TheGridSystem">The Grid System</a>
</div>

<div>
    <a asp-page="/BootStrapPages/GraphicDesignandResponsiveLayout/AlignmentAndOffsets">Alignment and Offsets</a>
</div>

<div>
    <a asp-page="/BootStrapPages/GraphicDesignandResponsiveLayout/PaddingDisplayMargins">Padding Display Margins</a>
</div>

<div>
    <a asp-page="/BootStrapPages/GraphicDesignandResponsiveLayout/FlexibleBox">Flexible Box</a>
</div>


</div>

<hr />

<div>
    <h3>BootStrap Navigation</h3>

    <div>
        <a asp-page="/BootStrapPages/BootStrapNavigation/AddingThePrecodedNavBar" >Adding The Precoded Nav Bar </a>
    </div>

    <div>
        <a asp-page="/BootStrapPages/BootStrapNavigation/HandCodingNavBar">Hand coding the nav bar</a>
    </div>


</div>

<hr />

<div>
    <h3>Adding Content With Typography</h3>

    <div>
    <a asp-page="/BootSteaPages/AddingContentWithTypography/HeadLineTags" >headLine Tags</a>
    </div>
</div>

<hr />

<div>
    <h3>Buttons</h3>
    <div>
        <a asp-page="/BootStrapPages/Buttons/ButtonsWithColor">Buttons with color </a>
    </div>



</div>