@page
@{
    ViewData["Title"] = "AlignmentAndOffsets";
}

<h1>Alignment and Offsets</h1>

<hr />

<div>
    <a asp-page="/BootStrapPages/Links" class="btn btn-primary">Back</a>
</div>

<hr />

<div class="container bg-warning" styles="margin-top:20px;">

    <section class="row bg-warning  align-items-end" style="height:200px;">
        <div class="col bg-secondary">Column 1</div>
        <div class="col bg-info">Column 2</div>
        <div class="col bg-success">Column 3</div>
    </section>

</div>

<hr />

<div class="container bg-warning" styles="margin-top:20px;">

    <section class="row bg-warning  align-items-center" style="height:200px;">
        <div class="col bg-secondary">Column 1</div>
        <div class="col bg-info">Column 2</div>
        <div class="col bg-success">Column 3</div>
    </section>

</div>


<hr />

<div class="container bg-warning" styles="margin-top:20px;">

    <section class="row bg-warning  align-items-start" style="height:200px;">
        <div class="col bg-secondary">Column 1</div>
        <div class="col bg-info">Column 2</div>
        <div class="col bg-success">Column 3</div>
    </section>

</div>

<hr />

<div class="container bg-warning" style="margin-top:30px">
    <section class="row bg-warning" style="height:200px;">
        <div class="col bg-secondary"> Column 1</div>
        <div class="col bg-info">Column 2</div>
        <div class="col bg-success">Column 2</div>
    </section>
</div>


<div class="container bg-warning" style="margin-top:30px">
    <section class="row bg-warning" style="height:200px;">
        <div class="col bg-secondary"> Column 1</div>
        <div class="col bg-info align-self-center">Column 2</div>
        <div class="col bg-success align-self-end">Column 2</div>
    </section>
</div>

<div class="container bg-warning" style="margin-top:30px">
    <section class="row bg-warning" style="height:200px;">
        <div class="col bg-secondary"> Column 1</div>
        <div class="col bg-info align-self-center">Column 2</div>
        <div class="col bg-success align-self-end">Column 2</div>
    </section>
</div>