@page
@{
    ViewData["Title"] = "PaddingDisplayMargins";
}

<p>More research to be done!</p>

<h1>PaddingDisplayMargins</h1>

<div class="row" styles="height:100px">
    <div class="col bg-info">4</div>
    <div class="col bg-primary text-light text-justify mt-5">
        This is a bunch of testing
    </div>
    <div class="col bg-info">6</div>
</div>

<div class="row" style="height:100px;">
    <div class="col bg-transparent">7</div>
    <div class="col bg-info">8</div>
    <div class="col bg-transparent">9</div>
</div>





<hr />

<div>
    <a asp-page="/BootStrapPages/Links" class="btn btn-primary">Back</a>
</div>