@page
@{
    ViewData["Title"] = "HandCodingNavBar";
}

<h1>HandCodingNavBar</h1>

<nav class="nav navbar-expand-lg navbar-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#top">Navbar</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapase" data-target="#navbarResponsive" aria-controls="" aria-expanded="false" aria-label="toggleNavigation">Menu<i class="fa fa-bars"></i> </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto" >    
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#link1">Link1</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#link2">Link2</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#link3">Link3</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#link4">Link4</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#link5">Link5</a></li>
                                                         
            </ul>
        </div>
    </div>

</nav>


<p>Will come back to this.</p>