@page
@{
    ViewData["Title"] = "ButtonsWithColor";
}

<h1>ButtonsWithColor</h1>

<p>Below is an unordered list with using (list-group-item) the first two in the list have the active and disable attribute attached.</p>

<div class="container">
<div class="mt-5">


    <ul class="list-group list-group-flush">

        <li class="list-group-item active">
            <button> a Plain Text Link</button>
        </li>

        <li class="list-group-disabled">
            <button>Primary Color: Alice</button>
        </li>

        <li class="list-group-item">
            <Button>Secondary Color: Dinah </Button>
        </li>

        <li class="list-group-item"
            > ButtonSucess Color: Frog-footman
        
        </li>
        <li class="list-group-item"
            >Info Color: Mad Hatter
        </li>
        <li class="list-group-item"
            >Warning Color: White Rabbit
        </li>
        <li class="list-group-item"
            >Danger Color: Queen of hearts
        </li>
        <li class="list-group-item"
            >Dark Color: Mock Turtle
        </li>
        <li class="list-group-item"
            >Light Color: kngs of hearts 
        </li>
    </ul>











</div>
</div>